<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
    body{
    background-color: #aaaaaa;
}

h2{
    text-align: center;
    margin-top: 150px;
}


h4{
    color: blue;

}

submit{
    background-color: pink;
}

</style>
<body>
   <container>
    <form>
        <h2>LOGIN</h2>
        <hr>
        <br><br>
        <lable for="fn">Enroll no/faculty id</lable>
        <input type="text" id="fn" name="fn"><br><br>

        <lable for="pwd">Password:</lable>
        <input type="password" id="pwd" name="pwd">
        <h4>Forget password</h4>

        <input type="submit" value="Submit">



    </form>


   </container> 
   
    
</body>
</html>