<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new test</title>
</head>
<body>
    <container>
        <lable for="Test date">Test Date:</lable>
        <input type="date" id="Test date" name="Test date">

        <br>
        <br>
        
        <lable for="dd">Department:</lable>
        <select name="dd" id="dd">
            <option value="computer">Computer</option>
            <option value="english">English</option>
            <option value="maths">Maths</option>
            <option value="gujarati">Gujarati</option>
        </select>

        <br>
        <br>

        <lable for="syl">Syllabus:</lable>
        <textarea id="syl" name="stl"></textarea>

        <br>
        <br>

        <lable for="tmarks">Total Marks:</lable>
        <input type="text" id="tmarks" name="tmarks">

        <br>
        <br>

        <lable for="time">Duration:</lable>
        <input type="time" id="time" name="time">

        <br>
        <br>

        <input type="radio" id="exam" name="exam" value="EXAM">
        <lable for="exam">EXAM</lable>
        <input type="radio" id="test" name="test" value="TEST">
        <lable for="test">TEST</lable>
        
        
    </container>
    
</body>
</html>